@font-face {
    font-family: StratosSkyeng, sans-serif;
    src:
        url('fonts/stratosskyengweb-regular.woff') format('woff'),
        url('fonts/stratosskyengweb-regular.woff2') format('woff2');
}

* {
    margin: 0;
    padding: 0;
}

.prompt__center {
    margin-top: calc(50% - 700px);
    margin-bottom: calc(50% - 700px);
}

.body {
    background-size: cover;
    background-color: var(--blue-120, #004980);
}

.choose__complexity {
    display: grid;
    width: 480px;
    height: 459px;
    border-radius: 12px;
    background: #c2f5ff;
    justify-items: center;
}

.choose__complexity__window {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.popup__windox__text {
    margin-top: 52px;
    color: #004980;
    text-align: center;
    font-family: StratosSkyeng, sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
}

.play__button {
    border: none;
    border-radius: 10px;
    background-color: #7ac100;
    display: flex;
    width: 246px;
    height: 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    font-family: StratosSkyeng, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    transition: all 0.3s;
}

.play__button:hover {
    background-color: #46af12;
}

.radio-toolbar input[type='radio'] {
    display: none;
}

.radio-toolbar label {
    background-color: #fff;
    display: inline-block;
    margin: 8px;
    padding: 24px 42px;
    cursor: pointer;
    border-radius: 10px;
    color: var(--blue-100, #0080c1);
    text-align: center;
    font-family: StratosSkyeng, sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 72px;
}

.radio-toolbar label:hover {
    background-color: #d0ffb7;
    border: none;
}

.radio-toolbar .radio:checked + label {
    background-color: #d0ffb7;
    border: none;
}

.page__title {
    text-align: center;
    font-size: 40px;
    color: #d0ffb7;
}

.playingField {
    margin-top: 50px;
}

.playingFieldHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

.playingFieldCards {
    display: grid;
    grid-template-columns: repeat(9, 95px);
    row-gap: 15px;
    column-gap: 15px;
    border-radius: 4px;
    margin-left: 13px;
}

.time {
    color: #fff;
    font-family: StratosSkyeng, sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 72px;
}

.returnButton {
    border: none;
    border-radius: 10px;
    background-color: #7ac100;
    display: flex;
    width: 246px;
    height: 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    font-family: StratosSkyeng, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    transition: all 0.3s;
}

.center {
    padding-left: calc(50% - 512px);
    padding-right: calc(50% - 512px);
}

.hidden {
    display: none;
}

.winLose {
    display: grid;
    width: 480px;
    height: 459px;
    border-radius: 12px;
    background: #c2f5ff;
    justify-items: center;
}

.imgHeader {
    margin-top: 26px;
    margin-bottom: 9px;
}

.headerLow {
    color: #004980;
    font-family: StratosSkyeng, sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    text-align: center;
    margin-top: 9px;
    margin-bottom: 28px;
}

.heading {
    font-family: StratosSkyeng, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #000;
}

.timeHeader {
    font-family: StratosSkyeng, sans-serif;
    font-size: 64px;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: 0;
    text-align: left;
    color: #000;
    margin-top: 10px;
    margin-bottom: 40px;
}

.timer {
    color: #000;
    font-family: StratosSkyeng, sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 72px;
}

.WinLoseWindow {
    position: absolute;
    z-index: 2;
    background-image: url('./cards/backg.png');
    background-size: cover;
}

.winOrLose {
    height: 100vh;
    width: 100vw;
    top: 0;
    position: absolute;
    background: rgb(32 32 23/ 40%);
    display: flex;
    align-items: center;
    justify-content: center;
}
